@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.containerfree {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 65, 65);
  background-size: 100%;
}

.free label {
  padding: 10px;
}

.muscles {
  display: flex;
  justify-content: center;
}

#muscleCheck {
  height: 30px;
  width: 30px;
  margin-top: 7px;
}

#numberOfexercises {
  width: 40px;
  height: 30px;
  margin-top: 6px;
}

.free form {
  border-radius: 50px;
  padding: 80px;
  opacity: 10%;
}

.free form text {
  max-width: 430px;
  width: 100%;
  padding: 0px;
  background-color: rgb(255, 255, 255);
}

.free header {
  font-size: 40px;
  font-weight: 600;
  color: whitesmoke;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: rgb(121, 75, 28);
  border-radius: 10px;
  padding:20px;
  margin-bottom: 5px;
}

.free button {
  background-color: rgb(211, 160, 7);
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-left: 55px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 15px;
}

.free button:hover {
  background-color: rgb(79, 69, 1);
  color: #fff;
  font-size: 25px;
  transform: scale(110%);
}
