@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.supercontainerhistorytracker {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 65, 65);
  background-size: 100%;
  padding-left: 50px;
  padding-right: 10px;
  background-size: 200%;
}

.containerhistorytracker {
  background: linear-gradient(45deg, #a09649, #82322c);
  font-family: sans-serif;
  font-weight: 100;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.table {
  width: 500px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}


td {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

th {
  padding-left: 10px;
  font-size: larger;
  font-weight: 900;
  color: rgb(252, 199, 183);
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

td:hover {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
    }

.supercontainerhistorytracker .containerhistorytracker .tableiconstracker{
  width: 60px;
}