/* Google fonts - poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.containersignup {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(69, 65, 65);
  background-size: 100%;
}

.form {
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border-radius: 6px;
  background-color:#FFF;
  opacity: 85%;
}

header {
  font-size: 28px;
  font-weight: 600;
  color: #232836;
  text-align: center;
}

form {
  margin-top: 30px;
}

form .field {
  height: 45px;
  width: 100%;
  margin-top: 20px;
}

.field input,
.field button {
  height: 100%;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}

.field button {
    background-color: darkgoldenrod;
    transition: all 0.3s ease;
    cursor: pointer;
  }

.field button:hover {
    background-color: rgb(141, 103, 7);
    color:#FFF;
  }

.field input {
  padding: 0 15px;
  border: 1px solid #cacaca;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

.form-link span,
.form-link a {
  font-size: 14px;
  font-weight: 400;
}

.form a {
  text-decoration: none;
}

.form a:hover {
  text-decoration: underline;
}
